button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
    cursor: pointer;
}

h1 {
    color: white;
    display: flex;
    justify-content: right;
    padding: 0 0.4em;
    font-size: 4em;
}

.wrapper {
    background-color: black;
    border-radius: 1em;
    padding: 1em;
}

.orange {
    background-color: #ff9500;
    color: white;
}

.gray {
    background-color: #505050;
    color: white;
}

#hide {
    visibility: hidden;
}

#zero {
    width: 6.4em;
}